.menu {
  display: block;
  width: 250px;
  background: #442200;
}

.menu > div {
  position:absolute;
    z-index:2;
    top:0;
    width: 250px;
    height:100%;
    transform: ease(250ms);
    -webkit-transform: ease(250ms);
}

.menu .visible {
  transform: translate3d(250px, 0, 0);
}
