.resume-container {
  display: flex;
  z-index: -1;
  margin: 0 0 2.5em 0;
}

.resume-pdf {
  width: 59.83em;
  height: 84.7em;
  margin: 0 0 3em 0;
  box-shadow: 0.7em 0.7em 1em #111;
  z-index: -1;
}

.button-container {
  font-family: 'Cutive Mono', monospace;
  position: fixed;
  font-size: 1em;
  top: 2em;
  right: 3.5em;
  background-color: #eee;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  border: none;
  outline: none;
  box-shadow: 0.7em 0.7em 1em #111;
  cursor: pointer;
  user-select: none;
}

.button-container:hover {
  background-color: #ccc;
}

.button-download {
  font-family: 'Courgette', cursive;
  text-decoration: none;
  color: #000;
  z-index: 0;
}
