@import '../components/Navbar/navbar';


html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: transparent;
  background: #000;
  font-family: 'Cutive Mono', monospace;
}

@keyframes fade-in { // main, home, resume, about
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out { // home, resume, about
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#main-container { // main
  position: relative;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Carl_Blechen_-_Tiberiusfelsen_auf_Capri_%281828-29%29.jpg');
  background-size: cover;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  animation: fade-in 0.5s linear;
  z-index: 0;
}

.fade-in {
  animation: fade-in 0.5s linear;
}

.fade-out {
  animation: fade-out 0.5s linear;
}

.main-child { // main
  margin: 3em 0em 0em 15.5em;
  width: 80vw;
  height: 85vh;
}

.name-container { // main
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 9.4em;
  z-index: -1;
}

.name-position { // main
  padding: 0;
  margin: 0;
  color: #eee;
  font-size: 2.6em;
  text-shadow: 0.15em 0.15em 0.04em #000;
  cursor: default;
  user-select: none;
  z-index: -1;
}

.text-over-picture { // home
  position: relative;
  top: -38.1em;
  left: 4em;
  cursor: default;
  user-select: none;
  z-index: 0;
}

.image-shadow { // navbar, home, about
  box-shadow: 0.7em 0.7em 1em #111;
}

.position-main { // home, about
  position: absolute;
  width: 59.83em;
  height: 40em;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.center-text { // about, contact
  text-align: center;
}

.text-container { // about
  padding: 2em;
  max-width: 59.83em;
  min-height: 40em;
  margin: 0 0 5em 0;
  box-shadow: 0.7em 0.7em 1em #111;
  background-image: url('http://1.bp.blogspot.com/-mJpKSDcsk8M/T7GbxfuI9fI/AAAAAAAAArU/GeaX_SbKMpo/s1600/paper-background.jpg');
  font-weight: 700;
  font-size: 1.1em;
}

#top-button { // scrollbutton, about, resume
  display: none;
  position: fixed;
  bottom: 2em;
  right: 5em;
  background-color: #eee;
  color: black;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: 'Courgette', cursive;
  font-size: 1em;
  z-index: 0;
}

#top-button:hover { // scrollbutton, about
  background-color: #ccc;
}

.resume-container { // resume
  display: flex;
  z-index: -1;
  margin: 0 0 2.5em 0;
}

.resume-pdf { // resume
  width: 59.83em;
  height: 84.7em;
  margin: 0 0 3em 0;
  box-shadow: 0.7em 0.7em 1em #111;
  z-index: -1;
}

.button-container { // resume
  font-family: 'Cutive Mono', monospace;
  position: fixed;
  font-size: 1em;
  top: 2em;
  right: 3.5em;
  background-color: #eee;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  border: none;
  outline: none;
  box-shadow: 0.7em 0.7em 1em #111;
  cursor: pointer;
  user-select: none;
}

.button-container:hover { // resume
  background-color: #ccc;
}

.button-download { // resume
  font-family: 'Courgette', cursive;
  text-decoration: none;
  color: #000;
  z-index: 0;
}

.spinner-container { // main
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gourd-spinner { // main
  width: 10em;
  height: 10em;
  animation: spin 0.8s linear infinite;
}

@keyframes spin { // main
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slide-in { // main
  0% { width: 0vw; display: auto; }
  100% { width: 100vw; }
}

@keyframes slide-out { // main
  0% { width: 100vw; display: auto; }
  100% { width: 0vw; display: none; }
}

@keyframes fish-slide-in { // main
  0% { width: 0vw; display: auto; }
  100% { width: 100vw; }
}

@keyframes fish-slide-out { // main
  0% { width: 100vw; display: auto; }
  100% { width: 0vw; display: none; }
}
