/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .position-main { // home, about
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  #top-button { // scrollbutton, about, resume
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;
    padding: 0.8em;
    font-size: 1em;
    z-index: 0;
  }

  .image-shadow { // navbar, about
    box-shadow: 0.7em 0.7em 1em #111;
  } // remove from home
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
  }

  /* iPads (landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    /* Styles */
  }

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .image-shadow { // navbar, home, about
    box-shadow: 0.7em 0.7em 1em #111;
  }

  .position-main { // home, about
    position: absolute;
    width: 59.83em;
    height: 40em;
    z-index: -1;
  }

  #top-button { // scrollbutton, about, resume
    display: none;
    position: fixed;
    bottom: 2em;
    right: 5em;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    z-index: 0;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  // .image-shadow { // navbar, home, about
  //   box-shadow: 0.7em 0.7em 1em #111;
  // }

  // .position-main { // home, about
  //   position: absolute;
  //   width: 59.83em;
  //   height: 40em;
  //   z-index: -1;
  // }

  // #top-button { // scrollbutton, about, resume
  //   display: none;
  //   position: fixed;
  //   bottom: 2em;
  //   right: 5em;
  //   border-radius: 1em;
  //   padding: 1em;
  //   cursor: pointer;
  //   font-size: 1em;
  //   z-index: 0;
  // }
}

/* Screen size neutral ----------- */
html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: transparent;
  background: #000;
  font-family: 'Cutive Mono', monospace;
}

.position-main { // home, about
  // position: absolute;
  padding: 0;
  margin: 0;
  // z-index: -1;
}

.center-text { // about, contact
  text-align: center;
}

#top-button { // scrollbutton, about, resume
  // display: none;
  // position: fixed;
  background-color: #eee;
  color: black;
  text-align: center;
  border: none;
  outline: none;
  user-select: none;
  font-family: 'Courgette', cursive;
  // z-index: 0;
}

#top-button:hover { // scrollbutton, about
  background-color: #ccc;
}

/* Animations ----------- */
@keyframes fade-in { // main, home, resume, about
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out { // home, resume, about
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-in {
  0% { width: 0vw; display: auto; }
  100% { width: 100vw; }
}

@keyframes slide-out {
  0% { width: 100vw; display: auto; }
  100% { width: 0vw; display: none; }
}

