html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: transparent;
  background: #000;
  font-family: 'Cutive Mono', monospace;
}

@keyframes fade-in { // main, home, resume, about
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out { // home, resume, about
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.image-shadow { // navbar, home, about
  box-shadow: 0.7em 0.7em 1em #111;
}

.position-main { // home, about
  position: absolute;
  width: 59.83em;
  height: 40em;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.center-text { // about, contact
  text-align: center;
}

#top-button { // scrollbutton, about, resume
  display: none;
  position: fixed;
  bottom: 2em;
  right: 5em;
  background-color: #eee;
  color: black;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: 'Courgette', cursive;
  font-size: 1em;
  z-index: 0;
}

#top-button:hover { // scrollbutton, about
  background-color: #ccc;
}
