body {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
  }
}

header {
  position: absolute;
  display: block;
  // width: 100%;
  // height: 45px;
  background-color: #000;
}

.logo {
  height: 3em;
  width: 3em;
}

// communicate with the api of a color palette website, to have randomly generated palette each time the page loads
  //make into a npm library










/*
create menu component
  menu contains all nav options

on navbar, three line icon to open menu
  menu slides open when clicked

css
  menu is positioned off screen
  slides into/out of view on toggle
*/
